* {
	 font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 1.6em;
}

h2 {
	font-size: 1.2em;
}

div.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height:98vh;
}
  
 div.content {
  margin-left: 200px;
  padding: 1px 16px;
 
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  padding-top: 5vh;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  font-size: 1.2em;
}

/* Active/current link */
.sidebar a.active {
  background-color: #3257A8;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
	padding-top:0;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
	.sidebar {
		padding-top:0;
	}
  .sidebar a {
    text-align: center;
    float: none;
  }
}